

.pure-u-1,
.pure-u-1-1,
.pure-u-1-47,
.pure-u-2-47,
.pure-u-3-47,
.pure-u-4-47,
.pure-u-5-47,
.pure-u-6-47,
.pure-u-7-47,
.pure-u-8-47,
.pure-u-9-47,
.pure-u-10-47,
.pure-u-11-47,
.pure-u-12-47,
.pure-u-13-47,
.pure-u-14-47,
.pure-u-15-47,
.pure-u-16-47,
.pure-u-17-47,
.pure-u-18-47,
.pure-u-19-47,
.pure-u-20-47,
.pure-u-21-47,
.pure-u-22-47,
.pure-u-23-47,
.pure-u-24-47,
.pure-u-25-47,
.pure-u-26-47,
.pure-u-27-47,
.pure-u-28-47,
.pure-u-29-47,
.pure-u-30-47,
.pure-u-31-47,
.pure-u-32-47,
.pure-u-33-47,
.pure-u-34-47,
.pure-u-35-47,
.pure-u-36-47,
.pure-u-37-47,
.pure-u-38-47,
.pure-u-39-47,
.pure-u-40-47,
.pure-u-41-47,
.pure-u-42-47,
.pure-u-43-47,
.pure-u-44-47,
.pure-u-45-47,
.pure-u-46-47,
.pure-u-47-47 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-1-47 {
    width: 2.1277%;
    *width: 2.0967%;
}

.pure-u-2-47 {
    width: 4.2553%;
    *width: 4.2243%;
}

.pure-u-3-47 {
    width: 6.3830%;
    *width: 6.3520%;
}

.pure-u-4-47 {
    width: 8.5106%;
    *width: 8.4796%;
}

.pure-u-5-47 {
    width: 10.6383%;
    *width: 10.6073%;
}

.pure-u-6-47 {
    width: 12.7660%;
    *width: 12.7350%;
}

.pure-u-7-47 {
    width: 14.8936%;
    *width: 14.8626%;
}

.pure-u-8-47 {
    width: 17.0213%;
    *width: 16.9903%;
}

.pure-u-9-47 {
    width: 19.1489%;
    *width: 19.1179%;
}

.pure-u-10-47 {
    width: 21.2766%;
    *width: 21.2456%;
}

.pure-u-11-47 {
    width: 23.4043%;
    *width: 23.3733%;
}

.pure-u-12-47 {
    width: 25.5319%;
    *width: 25.5009%;
}

.pure-u-13-47 {
    width: 27.6596%;
    *width: 27.6286%;
}

.pure-u-14-47 {
    width: 29.7872%;
    *width: 29.7562%;
}

.pure-u-15-47 {
    width: 31.9149%;
    *width: 31.8839%;
}

.pure-u-16-47 {
    width: 34.0426%;
    *width: 34.0116%;
}

.pure-u-17-47 {
    width: 36.1702%;
    *width: 36.1392%;
}

.pure-u-18-47 {
    width: 38.2979%;
    *width: 38.2669%;
}

.pure-u-19-47 {
    width: 40.4255%;
    *width: 40.3945%;
}

.pure-u-20-47 {
    width: 42.5532%;
    *width: 42.5222%;
}

.pure-u-21-47 {
    width: 44.6809%;
    *width: 44.6499%;
}

.pure-u-22-47 {
    width: 46.8085%;
    *width: 46.7775%;
}

.pure-u-23-47 {
    width: 48.9362%;
    *width: 48.9052%;
}

.pure-u-24-47 {
    width: 51.0638%;
    *width: 51.0328%;
}

.pure-u-25-47 {
    width: 53.1915%;
    *width: 53.1605%;
}

.pure-u-26-47 {
    width: 55.3191%;
    *width: 55.2881%;
}

.pure-u-27-47 {
    width: 57.4468%;
    *width: 57.4158%;
}

.pure-u-28-47 {
    width: 59.5745%;
    *width: 59.5435%;
}

.pure-u-29-47 {
    width: 61.7021%;
    *width: 61.6711%;
}

.pure-u-30-47 {
    width: 63.8298%;
    *width: 63.7988%;
}

.pure-u-31-47 {
    width: 65.9574%;
    *width: 65.9264%;
}

.pure-u-32-47 {
    width: 68.0851%;
    *width: 68.0541%;
}

.pure-u-33-47 {
    width: 70.2128%;
    *width: 70.1818%;
}

.pure-u-34-47 {
    width: 72.3404%;
    *width: 72.3094%;
}

.pure-u-35-47 {
    width: 74.4681%;
    *width: 74.4371%;
}

.pure-u-36-47 {
    width: 76.5957%;
    *width: 76.5647%;
}

.pure-u-37-47 {
    width: 78.7234%;
    *width: 78.6924%;
}

.pure-u-38-47 {
    width: 80.8511%;
    *width: 80.8201%;
}

.pure-u-39-47 {
    width: 82.9787%;
    *width: 82.9477%;
}

.pure-u-40-47 {
    width: 85.1064%;
    *width: 85.0754%;
}

.pure-u-41-47 {
    width: 87.2340%;
    *width: 87.2030%;
}

.pure-u-42-47 {
    width: 89.3617%;
    *width: 89.3307%;
}

.pure-u-43-47 {
    width: 91.4894%;
    *width: 91.4584%;
}

.pure-u-44-47 {
    width: 93.6170%;
    *width: 93.5860%;
}

.pure-u-45-47 {
    width: 95.7447%;
    *width: 95.7137%;
}

.pure-u-46-47 {
    width: 97.8723%;
    *width: 97.8413%;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-47-47 {
    width: 100%;
}

@media screen and (min-width: 35.5em) {
    .pure-u-sm-1,
    .pure-u-sm-1-1,
    .pure-u-sm-1-47,
    .pure-u-sm-2-47,
    .pure-u-sm-3-47,
    .pure-u-sm-4-47,
    .pure-u-sm-5-47,
    .pure-u-sm-6-47,
    .pure-u-sm-7-47,
    .pure-u-sm-8-47,
    .pure-u-sm-9-47,
    .pure-u-sm-10-47,
    .pure-u-sm-11-47,
    .pure-u-sm-12-47,
    .pure-u-sm-13-47,
    .pure-u-sm-14-47,
    .pure-u-sm-15-47,
    .pure-u-sm-16-47,
    .pure-u-sm-17-47,
    .pure-u-sm-18-47,
    .pure-u-sm-19-47,
    .pure-u-sm-20-47,
    .pure-u-sm-21-47,
    .pure-u-sm-22-47,
    .pure-u-sm-23-47,
    .pure-u-sm-24-47,
    .pure-u-sm-25-47,
    .pure-u-sm-26-47,
    .pure-u-sm-27-47,
    .pure-u-sm-28-47,
    .pure-u-sm-29-47,
    .pure-u-sm-30-47,
    .pure-u-sm-31-47,
    .pure-u-sm-32-47,
    .pure-u-sm-33-47,
    .pure-u-sm-34-47,
    .pure-u-sm-35-47,
    .pure-u-sm-36-47,
    .pure-u-sm-37-47,
    .pure-u-sm-38-47,
    .pure-u-sm-39-47,
    .pure-u-sm-40-47,
    .pure-u-sm-41-47,
    .pure-u-sm-42-47,
    .pure-u-sm-43-47,
    .pure-u-sm-44-47,
    .pure-u-sm-45-47,
    .pure-u-sm-46-47,
    .pure-u-sm-47-47 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-sm-1-47 {
        width: 2.1277%;
        *width: 2.0967%;
    }

    .pure-u-sm-2-47 {
        width: 4.2553%;
        *width: 4.2243%;
    }

    .pure-u-sm-3-47 {
        width: 6.3830%;
        *width: 6.3520%;
    }

    .pure-u-sm-4-47 {
        width: 8.5106%;
        *width: 8.4796%;
    }

    .pure-u-sm-5-47 {
        width: 10.6383%;
        *width: 10.6073%;
    }

    .pure-u-sm-6-47 {
        width: 12.7660%;
        *width: 12.7350%;
    }

    .pure-u-sm-7-47 {
        width: 14.8936%;
        *width: 14.8626%;
    }

    .pure-u-sm-8-47 {
        width: 17.0213%;
        *width: 16.9903%;
    }

    .pure-u-sm-9-47 {
        width: 19.1489%;
        *width: 19.1179%;
    }

    .pure-u-sm-10-47 {
        width: 21.2766%;
        *width: 21.2456%;
    }

    .pure-u-sm-11-47 {
        width: 23.4043%;
        *width: 23.3733%;
    }

    .pure-u-sm-12-47 {
        width: 25.5319%;
        *width: 25.5009%;
    }

    .pure-u-sm-13-47 {
        width: 27.6596%;
        *width: 27.6286%;
    }

    .pure-u-sm-14-47 {
        width: 29.7872%;
        *width: 29.7562%;
    }

    .pure-u-sm-15-47 {
        width: 31.9149%;
        *width: 31.8839%;
    }

    .pure-u-sm-16-47 {
        width: 34.0426%;
        *width: 34.0116%;
    }

    .pure-u-sm-17-47 {
        width: 36.1702%;
        *width: 36.1392%;
    }

    .pure-u-sm-18-47 {
        width: 38.2979%;
        *width: 38.2669%;
    }

    .pure-u-sm-19-47 {
        width: 40.4255%;
        *width: 40.3945%;
    }

    .pure-u-sm-20-47 {
        width: 42.5532%;
        *width: 42.5222%;
    }

    .pure-u-sm-21-47 {
        width: 44.6809%;
        *width: 44.6499%;
    }

    .pure-u-sm-22-47 {
        width: 46.8085%;
        *width: 46.7775%;
    }

    .pure-u-sm-23-47 {
        width: 48.9362%;
        *width: 48.9052%;
    }

    .pure-u-sm-24-47 {
        width: 51.0638%;
        *width: 51.0328%;
    }

    .pure-u-sm-25-47 {
        width: 53.1915%;
        *width: 53.1605%;
    }

    .pure-u-sm-26-47 {
        width: 55.3191%;
        *width: 55.2881%;
    }

    .pure-u-sm-27-47 {
        width: 57.4468%;
        *width: 57.4158%;
    }

    .pure-u-sm-28-47 {
        width: 59.5745%;
        *width: 59.5435%;
    }

    .pure-u-sm-29-47 {
        width: 61.7021%;
        *width: 61.6711%;
    }

    .pure-u-sm-30-47 {
        width: 63.8298%;
        *width: 63.7988%;
    }

    .pure-u-sm-31-47 {
        width: 65.9574%;
        *width: 65.9264%;
    }

    .pure-u-sm-32-47 {
        width: 68.0851%;
        *width: 68.0541%;
    }

    .pure-u-sm-33-47 {
        width: 70.2128%;
        *width: 70.1818%;
    }

    .pure-u-sm-34-47 {
        width: 72.3404%;
        *width: 72.3094%;
    }

    .pure-u-sm-35-47 {
        width: 74.4681%;
        *width: 74.4371%;
    }

    .pure-u-sm-36-47 {
        width: 76.5957%;
        *width: 76.5647%;
    }

    .pure-u-sm-37-47 {
        width: 78.7234%;
        *width: 78.6924%;
    }

    .pure-u-sm-38-47 {
        width: 80.8511%;
        *width: 80.8201%;
    }

    .pure-u-sm-39-47 {
        width: 82.9787%;
        *width: 82.9477%;
    }

    .pure-u-sm-40-47 {
        width: 85.1064%;
        *width: 85.0754%;
    }

    .pure-u-sm-41-47 {
        width: 87.2340%;
        *width: 87.2030%;
    }

    .pure-u-sm-42-47 {
        width: 89.3617%;
        *width: 89.3307%;
    }

    .pure-u-sm-43-47 {
        width: 91.4894%;
        *width: 91.4584%;
    }

    .pure-u-sm-44-47 {
        width: 93.6170%;
        *width: 93.5860%;
    }

    .pure-u-sm-45-47 {
        width: 95.7447%;
        *width: 95.7137%;
    }

    .pure-u-sm-46-47 {
        width: 97.8723%;
        *width: 97.8413%;
    }

    .pure-u-sm-1,
    .pure-u-sm-1-1,
    .pure-u-sm-47-47 {
        width: 100%;
    }
}

@media screen and (min-width: 48em) {
    .pure-u-md-1,
    .pure-u-md-1-1,
    .pure-u-md-1-47,
    .pure-u-md-2-47,
    .pure-u-md-3-47,
    .pure-u-md-4-47,
    .pure-u-md-5-47,
    .pure-u-md-6-47,
    .pure-u-md-7-47,
    .pure-u-md-8-47,
    .pure-u-md-9-47,
    .pure-u-md-10-47,
    .pure-u-md-11-47,
    .pure-u-md-12-47,
    .pure-u-md-13-47,
    .pure-u-md-14-47,
    .pure-u-md-15-47,
    .pure-u-md-16-47,
    .pure-u-md-17-47,
    .pure-u-md-18-47,
    .pure-u-md-19-47,
    .pure-u-md-20-47,
    .pure-u-md-21-47,
    .pure-u-md-22-47,
    .pure-u-md-23-47,
    .pure-u-md-24-47,
    .pure-u-md-25-47,
    .pure-u-md-26-47,
    .pure-u-md-27-47,
    .pure-u-md-28-47,
    .pure-u-md-29-47,
    .pure-u-md-30-47,
    .pure-u-md-31-47,
    .pure-u-md-32-47,
    .pure-u-md-33-47,
    .pure-u-md-34-47,
    .pure-u-md-35-47,
    .pure-u-md-36-47,
    .pure-u-md-37-47,
    .pure-u-md-38-47,
    .pure-u-md-39-47,
    .pure-u-md-40-47,
    .pure-u-md-41-47,
    .pure-u-md-42-47,
    .pure-u-md-43-47,
    .pure-u-md-44-47,
    .pure-u-md-45-47,
    .pure-u-md-46-47,
    .pure-u-md-47-47 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-md-1-47 {
        width: 2.1277%;
        *width: 2.0967%;
    }

    .pure-u-md-2-47 {
        width: 4.2553%;
        *width: 4.2243%;
    }

    .pure-u-md-3-47 {
        width: 6.3830%;
        *width: 6.3520%;
    }

    .pure-u-md-4-47 {
        width: 8.5106%;
        *width: 8.4796%;
    }

    .pure-u-md-5-47 {
        width: 10.6383%;
        *width: 10.6073%;
    }

    .pure-u-md-6-47 {
        width: 12.7660%;
        *width: 12.7350%;
    }

    .pure-u-md-7-47 {
        width: 14.8936%;
        *width: 14.8626%;
    }

    .pure-u-md-8-47 {
        width: 17.0213%;
        *width: 16.9903%;
    }

    .pure-u-md-9-47 {
        width: 19.1489%;
        *width: 19.1179%;
    }

    .pure-u-md-10-47 {
        width: 21.2766%;
        *width: 21.2456%;
    }

    .pure-u-md-11-47 {
        width: 23.4043%;
        *width: 23.3733%;
    }

    .pure-u-md-12-47 {
        width: 25.5319%;
        *width: 25.5009%;
    }

    .pure-u-md-13-47 {
        width: 27.6596%;
        *width: 27.6286%;
    }

    .pure-u-md-14-47 {
        width: 29.7872%;
        *width: 29.7562%;
    }

    .pure-u-md-15-47 {
        width: 31.9149%;
        *width: 31.8839%;
    }

    .pure-u-md-16-47 {
        width: 34.0426%;
        *width: 34.0116%;
    }

    .pure-u-md-17-47 {
        width: 36.1702%;
        *width: 36.1392%;
    }

    .pure-u-md-18-47 {
        width: 38.2979%;
        *width: 38.2669%;
    }

    .pure-u-md-19-47 {
        width: 40.4255%;
        *width: 40.3945%;
    }

    .pure-u-md-20-47 {
        width: 42.5532%;
        *width: 42.5222%;
    }

    .pure-u-md-21-47 {
        width: 44.6809%;
        *width: 44.6499%;
    }

    .pure-u-md-22-47 {
        width: 46.8085%;
        *width: 46.7775%;
    }

    .pure-u-md-23-47 {
        width: 48.9362%;
        *width: 48.9052%;
    }

    .pure-u-md-24-47 {
        width: 51.0638%;
        *width: 51.0328%;
    }

    .pure-u-md-25-47 {
        width: 53.1915%;
        *width: 53.1605%;
    }

    .pure-u-md-26-47 {
        width: 55.3191%;
        *width: 55.2881%;
    }

    .pure-u-md-27-47 {
        width: 57.4468%;
        *width: 57.4158%;
    }

    .pure-u-md-28-47 {
        width: 59.5745%;
        *width: 59.5435%;
    }

    .pure-u-md-29-47 {
        width: 61.7021%;
        *width: 61.6711%;
    }

    .pure-u-md-30-47 {
        width: 63.8298%;
        *width: 63.7988%;
    }

    .pure-u-md-31-47 {
        width: 65.9574%;
        *width: 65.9264%;
    }

    .pure-u-md-32-47 {
        width: 68.0851%;
        *width: 68.0541%;
    }

    .pure-u-md-33-47 {
        width: 70.2128%;
        *width: 70.1818%;
    }

    .pure-u-md-34-47 {
        width: 72.3404%;
        *width: 72.3094%;
    }

    .pure-u-md-35-47 {
        width: 74.4681%;
        *width: 74.4371%;
    }

    .pure-u-md-36-47 {
        width: 76.5957%;
        *width: 76.5647%;
    }

    .pure-u-md-37-47 {
        width: 78.7234%;
        *width: 78.6924%;
    }

    .pure-u-md-38-47 {
        width: 80.8511%;
        *width: 80.8201%;
    }

    .pure-u-md-39-47 {
        width: 82.9787%;
        *width: 82.9477%;
    }

    .pure-u-md-40-47 {
        width: 85.1064%;
        *width: 85.0754%;
    }

    .pure-u-md-41-47 {
        width: 87.2340%;
        *width: 87.2030%;
    }

    .pure-u-md-42-47 {
        width: 89.3617%;
        *width: 89.3307%;
    }

    .pure-u-md-43-47 {
        width: 91.4894%;
        *width: 91.4584%;
    }

    .pure-u-md-44-47 {
        width: 93.6170%;
        *width: 93.5860%;
    }

    .pure-u-md-45-47 {
        width: 95.7447%;
        *width: 95.7137%;
    }

    .pure-u-md-46-47 {
        width: 97.8723%;
        *width: 97.8413%;
    }

    .pure-u-md-1,
    .pure-u-md-1-1,
    .pure-u-md-47-47 {
        width: 100%;
    }
}

@media screen and (min-width: 64em) {
    .pure-u-lg-1,
    .pure-u-lg-1-1,
    .pure-u-lg-1-47,
    .pure-u-lg-2-47,
    .pure-u-lg-3-47,
    .pure-u-lg-4-47,
    .pure-u-lg-5-47,
    .pure-u-lg-6-47,
    .pure-u-lg-7-47,
    .pure-u-lg-8-47,
    .pure-u-lg-9-47,
    .pure-u-lg-10-47,
    .pure-u-lg-11-47,
    .pure-u-lg-12-47,
    .pure-u-lg-13-47,
    .pure-u-lg-14-47,
    .pure-u-lg-15-47,
    .pure-u-lg-16-47,
    .pure-u-lg-17-47,
    .pure-u-lg-18-47,
    .pure-u-lg-19-47,
    .pure-u-lg-20-47,
    .pure-u-lg-21-47,
    .pure-u-lg-22-47,
    .pure-u-lg-23-47,
    .pure-u-lg-24-47,
    .pure-u-lg-25-47,
    .pure-u-lg-26-47,
    .pure-u-lg-27-47,
    .pure-u-lg-28-47,
    .pure-u-lg-29-47,
    .pure-u-lg-30-47,
    .pure-u-lg-31-47,
    .pure-u-lg-32-47,
    .pure-u-lg-33-47,
    .pure-u-lg-34-47,
    .pure-u-lg-35-47,
    .pure-u-lg-36-47,
    .pure-u-lg-37-47,
    .pure-u-lg-38-47,
    .pure-u-lg-39-47,
    .pure-u-lg-40-47,
    .pure-u-lg-41-47,
    .pure-u-lg-42-47,
    .pure-u-lg-43-47,
    .pure-u-lg-44-47,
    .pure-u-lg-45-47,
    .pure-u-lg-46-47,
    .pure-u-lg-47-47 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-lg-1-47 {
        width: 2.1277%;
        *width: 2.0967%;
    }

    .pure-u-lg-2-47 {
        width: 4.2553%;
        *width: 4.2243%;
    }

    .pure-u-lg-3-47 {
        width: 6.3830%;
        *width: 6.3520%;
    }

    .pure-u-lg-4-47 {
        width: 8.5106%;
        *width: 8.4796%;
    }

    .pure-u-lg-5-47 {
        width: 10.6383%;
        *width: 10.6073%;
    }

    .pure-u-lg-6-47 {
        width: 12.7660%;
        *width: 12.7350%;
    }

    .pure-u-lg-7-47 {
        width: 14.8936%;
        *width: 14.8626%;
    }

    .pure-u-lg-8-47 {
        width: 17.0213%;
        *width: 16.9903%;
    }

    .pure-u-lg-9-47 {
        width: 19.1489%;
        *width: 19.1179%;
    }

    .pure-u-lg-10-47 {
        width: 21.2766%;
        *width: 21.2456%;
    }

    .pure-u-lg-11-47 {
        width: 23.4043%;
        *width: 23.3733%;
    }

    .pure-u-lg-12-47 {
        width: 25.5319%;
        *width: 25.5009%;
    }

    .pure-u-lg-13-47 {
        width: 27.6596%;
        *width: 27.6286%;
    }

    .pure-u-lg-14-47 {
        width: 29.7872%;
        *width: 29.7562%;
    }

    .pure-u-lg-15-47 {
        width: 31.9149%;
        *width: 31.8839%;
    }

    .pure-u-lg-16-47 {
        width: 34.0426%;
        *width: 34.0116%;
    }

    .pure-u-lg-17-47 {
        width: 36.1702%;
        *width: 36.1392%;
    }

    .pure-u-lg-18-47 {
        width: 38.2979%;
        *width: 38.2669%;
    }

    .pure-u-lg-19-47 {
        width: 40.4255%;
        *width: 40.3945%;
    }

    .pure-u-lg-20-47 {
        width: 42.5532%;
        *width: 42.5222%;
    }

    .pure-u-lg-21-47 {
        width: 44.6809%;
        *width: 44.6499%;
    }

    .pure-u-lg-22-47 {
        width: 46.8085%;
        *width: 46.7775%;
    }

    .pure-u-lg-23-47 {
        width: 48.9362%;
        *width: 48.9052%;
    }

    .pure-u-lg-24-47 {
        width: 51.0638%;
        *width: 51.0328%;
    }

    .pure-u-lg-25-47 {
        width: 53.1915%;
        *width: 53.1605%;
    }

    .pure-u-lg-26-47 {
        width: 55.3191%;
        *width: 55.2881%;
    }

    .pure-u-lg-27-47 {
        width: 57.4468%;
        *width: 57.4158%;
    }

    .pure-u-lg-28-47 {
        width: 59.5745%;
        *width: 59.5435%;
    }

    .pure-u-lg-29-47 {
        width: 61.7021%;
        *width: 61.6711%;
    }

    .pure-u-lg-30-47 {
        width: 63.8298%;
        *width: 63.7988%;
    }

    .pure-u-lg-31-47 {
        width: 65.9574%;
        *width: 65.9264%;
    }

    .pure-u-lg-32-47 {
        width: 68.0851%;
        *width: 68.0541%;
    }

    .pure-u-lg-33-47 {
        width: 70.2128%;
        *width: 70.1818%;
    }

    .pure-u-lg-34-47 {
        width: 72.3404%;
        *width: 72.3094%;
    }

    .pure-u-lg-35-47 {
        width: 74.4681%;
        *width: 74.4371%;
    }

    .pure-u-lg-36-47 {
        width: 76.5957%;
        *width: 76.5647%;
    }

    .pure-u-lg-37-47 {
        width: 78.7234%;
        *width: 78.6924%;
    }

    .pure-u-lg-38-47 {
        width: 80.8511%;
        *width: 80.8201%;
    }

    .pure-u-lg-39-47 {
        width: 82.9787%;
        *width: 82.9477%;
    }

    .pure-u-lg-40-47 {
        width: 85.1064%;
        *width: 85.0754%;
    }

    .pure-u-lg-41-47 {
        width: 87.2340%;
        *width: 87.2030%;
    }

    .pure-u-lg-42-47 {
        width: 89.3617%;
        *width: 89.3307%;
    }

    .pure-u-lg-43-47 {
        width: 91.4894%;
        *width: 91.4584%;
    }

    .pure-u-lg-44-47 {
        width: 93.6170%;
        *width: 93.5860%;
    }

    .pure-u-lg-45-47 {
        width: 95.7447%;
        *width: 95.7137%;
    }

    .pure-u-lg-46-47 {
        width: 97.8723%;
        *width: 97.8413%;
    }

    .pure-u-lg-1,
    .pure-u-lg-1-1,
    .pure-u-lg-47-47 {
        width: 100%;
    }
}

@media screen and (min-width: 80em) {
    .pure-u-xl-1,
    .pure-u-xl-1-1,
    .pure-u-xl-1-47,
    .pure-u-xl-2-47,
    .pure-u-xl-3-47,
    .pure-u-xl-4-47,
    .pure-u-xl-5-47,
    .pure-u-xl-6-47,
    .pure-u-xl-7-47,
    .pure-u-xl-8-47,
    .pure-u-xl-9-47,
    .pure-u-xl-10-47,
    .pure-u-xl-11-47,
    .pure-u-xl-12-47,
    .pure-u-xl-13-47,
    .pure-u-xl-14-47,
    .pure-u-xl-15-47,
    .pure-u-xl-16-47,
    .pure-u-xl-17-47,
    .pure-u-xl-18-47,
    .pure-u-xl-19-47,
    .pure-u-xl-20-47,
    .pure-u-xl-21-47,
    .pure-u-xl-22-47,
    .pure-u-xl-23-47,
    .pure-u-xl-24-47,
    .pure-u-xl-25-47,
    .pure-u-xl-26-47,
    .pure-u-xl-27-47,
    .pure-u-xl-28-47,
    .pure-u-xl-29-47,
    .pure-u-xl-30-47,
    .pure-u-xl-31-47,
    .pure-u-xl-32-47,
    .pure-u-xl-33-47,
    .pure-u-xl-34-47,
    .pure-u-xl-35-47,
    .pure-u-xl-36-47,
    .pure-u-xl-37-47,
    .pure-u-xl-38-47,
    .pure-u-xl-39-47,
    .pure-u-xl-40-47,
    .pure-u-xl-41-47,
    .pure-u-xl-42-47,
    .pure-u-xl-43-47,
    .pure-u-xl-44-47,
    .pure-u-xl-45-47,
    .pure-u-xl-46-47,
    .pure-u-xl-47-47 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-xl-1-47 {
        width: 2.1277%;
        *width: 2.0967%;
    }

    .pure-u-xl-2-47 {
        width: 4.2553%;
        *width: 4.2243%;
    }

    .pure-u-xl-3-47 {
        width: 6.3830%;
        *width: 6.3520%;
    }

    .pure-u-xl-4-47 {
        width: 8.5106%;
        *width: 8.4796%;
    }

    .pure-u-xl-5-47 {
        width: 10.6383%;
        *width: 10.6073%;
    }

    .pure-u-xl-6-47 {
        width: 12.7660%;
        *width: 12.7350%;
    }

    .pure-u-xl-7-47 {
        width: 14.8936%;
        *width: 14.8626%;
    }

    .pure-u-xl-8-47 {
        width: 17.0213%;
        *width: 16.9903%;
    }

    .pure-u-xl-9-47 {
        width: 19.1489%;
        *width: 19.1179%;
    }

    .pure-u-xl-10-47 {
        width: 21.2766%;
        *width: 21.2456%;
    }

    .pure-u-xl-11-47 {
        width: 23.4043%;
        *width: 23.3733%;
    }

    .pure-u-xl-12-47 {
        width: 25.5319%;
        *width: 25.5009%;
    }

    .pure-u-xl-13-47 {
        width: 27.6596%;
        *width: 27.6286%;
    }

    .pure-u-xl-14-47 {
        width: 29.7872%;
        *width: 29.7562%;
    }

    .pure-u-xl-15-47 {
        width: 31.9149%;
        *width: 31.8839%;
    }

    .pure-u-xl-16-47 {
        width: 34.0426%;
        *width: 34.0116%;
    }

    .pure-u-xl-17-47 {
        width: 36.1702%;
        *width: 36.1392%;
    }

    .pure-u-xl-18-47 {
        width: 38.2979%;
        *width: 38.2669%;
    }

    .pure-u-xl-19-47 {
        width: 40.4255%;
        *width: 40.3945%;
    }

    .pure-u-xl-20-47 {
        width: 42.5532%;
        *width: 42.5222%;
    }

    .pure-u-xl-21-47 {
        width: 44.6809%;
        *width: 44.6499%;
    }

    .pure-u-xl-22-47 {
        width: 46.8085%;
        *width: 46.7775%;
    }

    .pure-u-xl-23-47 {
        width: 48.9362%;
        *width: 48.9052%;
    }

    .pure-u-xl-24-47 {
        width: 51.0638%;
        *width: 51.0328%;
    }

    .pure-u-xl-25-47 {
        width: 53.1915%;
        *width: 53.1605%;
    }

    .pure-u-xl-26-47 {
        width: 55.3191%;
        *width: 55.2881%;
    }

    .pure-u-xl-27-47 {
        width: 57.4468%;
        *width: 57.4158%;
    }

    .pure-u-xl-28-47 {
        width: 59.5745%;
        *width: 59.5435%;
    }

    .pure-u-xl-29-47 {
        width: 61.7021%;
        *width: 61.6711%;
    }

    .pure-u-xl-30-47 {
        width: 63.8298%;
        *width: 63.7988%;
    }

    .pure-u-xl-31-47 {
        width: 65.9574%;
        *width: 65.9264%;
    }

    .pure-u-xl-32-47 {
        width: 68.0851%;
        *width: 68.0541%;
    }

    .pure-u-xl-33-47 {
        width: 70.2128%;
        *width: 70.1818%;
    }

    .pure-u-xl-34-47 {
        width: 72.3404%;
        *width: 72.3094%;
    }

    .pure-u-xl-35-47 {
        width: 74.4681%;
        *width: 74.4371%;
    }

    .pure-u-xl-36-47 {
        width: 76.5957%;
        *width: 76.5647%;
    }

    .pure-u-xl-37-47 {
        width: 78.7234%;
        *width: 78.6924%;
    }

    .pure-u-xl-38-47 {
        width: 80.8511%;
        *width: 80.8201%;
    }

    .pure-u-xl-39-47 {
        width: 82.9787%;
        *width: 82.9477%;
    }

    .pure-u-xl-40-47 {
        width: 85.1064%;
        *width: 85.0754%;
    }

    .pure-u-xl-41-47 {
        width: 87.2340%;
        *width: 87.2030%;
    }

    .pure-u-xl-42-47 {
        width: 89.3617%;
        *width: 89.3307%;
    }

    .pure-u-xl-43-47 {
        width: 91.4894%;
        *width: 91.4584%;
    }

    .pure-u-xl-44-47 {
        width: 93.6170%;
        *width: 93.5860%;
    }

    .pure-u-xl-45-47 {
        width: 95.7447%;
        *width: 95.7137%;
    }

    .pure-u-xl-46-47 {
        width: 97.8723%;
        *width: 97.8413%;
    }

    .pure-u-xl-1,
    .pure-u-xl-1-1,
    .pure-u-xl-47-47 {
        width: 100%;
    }
}

.pure-u-1,
.pure-u-1-1,
.pure-u-1-47,
.pure-u-2-47,
.pure-u-3-47,
.pure-u-4-47,
.pure-u-5-47,
.pure-u-6-47,
.pure-u-7-47,
.pure-u-8-47,
.pure-u-9-47,
.pure-u-10-47,
.pure-u-11-47,
.pure-u-12-47,
.pure-u-13-47,
.pure-u-14-47,
.pure-u-15-47,
.pure-u-16-47,
.pure-u-17-47,
.pure-u-18-47,
.pure-u-19-47,
.pure-u-20-47,
.pure-u-21-47,
.pure-u-22-47,
.pure-u-23-47,
.pure-u-24-47,
.pure-u-25-47,
.pure-u-26-47,
.pure-u-27-47,
.pure-u-28-47,
.pure-u-29-47,
.pure-u-30-47,
.pure-u-31-47,
.pure-u-32-47,
.pure-u-33-47,
.pure-u-34-47,
.pure-u-35-47,
.pure-u-36-47,
.pure-u-37-47,
.pure-u-38-47,
.pure-u-39-47,
.pure-u-40-47,
.pure-u-41-47,
.pure-u-42-47,
.pure-u-43-47,
.pure-u-44-47,
.pure-u-45-47,
.pure-u-46-47,
.pure-u-47-47 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-1-47 {
    width: 2.1277%;
    *width: 2.0967%;
}

.pure-u-2-47 {
    width: 4.2553%;
    *width: 4.2243%;
}

.pure-u-3-47 {
    width: 6.3830%;
    *width: 6.3520%;
}

.pure-u-4-47 {
    width: 8.5106%;
    *width: 8.4796%;
}

.pure-u-5-47 {
    width: 10.6383%;
    *width: 10.6073%;
}

.pure-u-6-47 {
    width: 12.7660%;
    *width: 12.7350%;
}

.pure-u-7-47 {
    width: 14.8936%;
    *width: 14.8626%;
}

.pure-u-8-47 {
    width: 17.0213%;
    *width: 16.9903%;
}

.pure-u-9-47 {
    width: 19.1489%;
    *width: 19.1179%;
}

.pure-u-10-47 {
    width: 21.2766%;
    *width: 21.2456%;
}

.pure-u-11-47 {
    width: 23.4043%;
    *width: 23.3733%;
}

.pure-u-12-47 {
    width: 25.5319%;
    *width: 25.5009%;
}

.pure-u-13-47 {
    width: 27.6596%;
    *width: 27.6286%;
}

.pure-u-14-47 {
    width: 29.7872%;
    *width: 29.7562%;
}

.pure-u-15-47 {
    width: 31.9149%;
    *width: 31.8839%;
}

.pure-u-16-47 {
    width: 34.0426%;
    *width: 34.0116%;
}

.pure-u-17-47 {
    width: 36.1702%;
    *width: 36.1392%;
}

.pure-u-18-47 {
    width: 38.2979%;
    *width: 38.2669%;
}

.pure-u-19-47 {
    width: 40.4255%;
    *width: 40.3945%;
}

.pure-u-20-47 {
    width: 42.5532%;
    *width: 42.5222%;
}

.pure-u-21-47 {
    width: 44.6809%;
    *width: 44.6499%;
}

.pure-u-22-47 {
    width: 46.8085%;
    *width: 46.7775%;
}

.pure-u-23-47 {
    width: 48.9362%;
    *width: 48.9052%;
}

.pure-u-24-47 {
    width: 51.0638%;
    *width: 51.0328%;
}

.pure-u-25-47 {
    width: 53.1915%;
    *width: 53.1605%;
}

.pure-u-26-47 {
    width: 55.3191%;
    *width: 55.2881%;
}

.pure-u-27-47 {
    width: 57.4468%;
    *width: 57.4158%;
}

.pure-u-28-47 {
    width: 59.5745%;
    *width: 59.5435%;
}

.pure-u-29-47 {
    width: 61.7021%;
    *width: 61.6711%;
}

.pure-u-30-47 {
    width: 63.8298%;
    *width: 63.7988%;
}

.pure-u-31-47 {
    width: 65.9574%;
    *width: 65.9264%;
}

.pure-u-32-47 {
    width: 68.0851%;
    *width: 68.0541%;
}

.pure-u-33-47 {
    width: 70.2128%;
    *width: 70.1818%;
}

.pure-u-34-47 {
    width: 72.3404%;
    *width: 72.3094%;
}

.pure-u-35-47 {
    width: 74.4681%;
    *width: 74.4371%;
}

.pure-u-36-47 {
    width: 76.5957%;
    *width: 76.5647%;
}

.pure-u-37-47 {
    width: 78.7234%;
    *width: 78.6924%;
}

.pure-u-38-47 {
    width: 80.8511%;
    *width: 80.8201%;
}

.pure-u-39-47 {
    width: 82.9787%;
    *width: 82.9477%;
}

.pure-u-40-47 {
    width: 85.1064%;
    *width: 85.0754%;
}

.pure-u-41-47 {
    width: 87.2340%;
    *width: 87.2030%;
}

.pure-u-42-47 {
    width: 89.3617%;
    *width: 89.3307%;
}

.pure-u-43-47 {
    width: 91.4894%;
    *width: 91.4584%;
}

.pure-u-44-47 {
    width: 93.6170%;
    *width: 93.5860%;
}

.pure-u-45-47 {
    width: 95.7447%;
    *width: 95.7137%;
}

.pure-u-46-47 {
    width: 97.8723%;
    *width: 97.8413%;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-47-47 {
    width: 100%;
}

.pure-u-sm-1,
.pure-u-sm-1-1,
.pure-u-sm-1-47,
.pure-u-sm-2-47,
.pure-u-sm-3-47,
.pure-u-sm-4-47,
.pure-u-sm-5-47,
.pure-u-sm-6-47,
.pure-u-sm-7-47,
.pure-u-sm-8-47,
.pure-u-sm-9-47,
.pure-u-sm-10-47,
.pure-u-sm-11-47,
.pure-u-sm-12-47,
.pure-u-sm-13-47,
.pure-u-sm-14-47,
.pure-u-sm-15-47,
.pure-u-sm-16-47,
.pure-u-sm-17-47,
.pure-u-sm-18-47,
.pure-u-sm-19-47,
.pure-u-sm-20-47,
.pure-u-sm-21-47,
.pure-u-sm-22-47,
.pure-u-sm-23-47,
.pure-u-sm-24-47,
.pure-u-sm-25-47,
.pure-u-sm-26-47,
.pure-u-sm-27-47,
.pure-u-sm-28-47,
.pure-u-sm-29-47,
.pure-u-sm-30-47,
.pure-u-sm-31-47,
.pure-u-sm-32-47,
.pure-u-sm-33-47,
.pure-u-sm-34-47,
.pure-u-sm-35-47,
.pure-u-sm-36-47,
.pure-u-sm-37-47,
.pure-u-sm-38-47,
.pure-u-sm-39-47,
.pure-u-sm-40-47,
.pure-u-sm-41-47,
.pure-u-sm-42-47,
.pure-u-sm-43-47,
.pure-u-sm-44-47,
.pure-u-sm-45-47,
.pure-u-sm-46-47,
.pure-u-sm-47-47 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-sm-1-47 {
    width: 2.1277%;
    *width: 2.0967%;
}

.pure-u-sm-2-47 {
    width: 4.2553%;
    *width: 4.2243%;
}

.pure-u-sm-3-47 {
    width: 6.3830%;
    *width: 6.3520%;
}

.pure-u-sm-4-47 {
    width: 8.5106%;
    *width: 8.4796%;
}

.pure-u-sm-5-47 {
    width: 10.6383%;
    *width: 10.6073%;
}

.pure-u-sm-6-47 {
    width: 12.7660%;
    *width: 12.7350%;
}

.pure-u-sm-7-47 {
    width: 14.8936%;
    *width: 14.8626%;
}

.pure-u-sm-8-47 {
    width: 17.0213%;
    *width: 16.9903%;
}

.pure-u-sm-9-47 {
    width: 19.1489%;
    *width: 19.1179%;
}

.pure-u-sm-10-47 {
    width: 21.2766%;
    *width: 21.2456%;
}

.pure-u-sm-11-47 {
    width: 23.4043%;
    *width: 23.3733%;
}

.pure-u-sm-12-47 {
    width: 25.5319%;
    *width: 25.5009%;
}

.pure-u-sm-13-47 {
    width: 27.6596%;
    *width: 27.6286%;
}

.pure-u-sm-14-47 {
    width: 29.7872%;
    *width: 29.7562%;
}

.pure-u-sm-15-47 {
    width: 31.9149%;
    *width: 31.8839%;
}

.pure-u-sm-16-47 {
    width: 34.0426%;
    *width: 34.0116%;
}

.pure-u-sm-17-47 {
    width: 36.1702%;
    *width: 36.1392%;
}

.pure-u-sm-18-47 {
    width: 38.2979%;
    *width: 38.2669%;
}

.pure-u-sm-19-47 {
    width: 40.4255%;
    *width: 40.3945%;
}

.pure-u-sm-20-47 {
    width: 42.5532%;
    *width: 42.5222%;
}

.pure-u-sm-21-47 {
    width: 44.6809%;
    *width: 44.6499%;
}

.pure-u-sm-22-47 {
    width: 46.8085%;
    *width: 46.7775%;
}

.pure-u-sm-23-47 {
    width: 48.9362%;
    *width: 48.9052%;
}

.pure-u-sm-24-47 {
    width: 51.0638%;
    *width: 51.0328%;
}

.pure-u-sm-25-47 {
    width: 53.1915%;
    *width: 53.1605%;
}

.pure-u-sm-26-47 {
    width: 55.3191%;
    *width: 55.2881%;
}

.pure-u-sm-27-47 {
    width: 57.4468%;
    *width: 57.4158%;
}

.pure-u-sm-28-47 {
    width: 59.5745%;
    *width: 59.5435%;
}

.pure-u-sm-29-47 {
    width: 61.7021%;
    *width: 61.6711%;
}

.pure-u-sm-30-47 {
    width: 63.8298%;
    *width: 63.7988%;
}

.pure-u-sm-31-47 {
    width: 65.9574%;
    *width: 65.9264%;
}

.pure-u-sm-32-47 {
    width: 68.0851%;
    *width: 68.0541%;
}

.pure-u-sm-33-47 {
    width: 70.2128%;
    *width: 70.1818%;
}

.pure-u-sm-34-47 {
    width: 72.3404%;
    *width: 72.3094%;
}

.pure-u-sm-35-47 {
    width: 74.4681%;
    *width: 74.4371%;
}

.pure-u-sm-36-47 {
    width: 76.5957%;
    *width: 76.5647%;
}

.pure-u-sm-37-47 {
    width: 78.7234%;
    *width: 78.6924%;
}

.pure-u-sm-38-47 {
    width: 80.8511%;
    *width: 80.8201%;
}

.pure-u-sm-39-47 {
    width: 82.9787%;
    *width: 82.9477%;
}

.pure-u-sm-40-47 {
    width: 85.1064%;
    *width: 85.0754%;
}

.pure-u-sm-41-47 {
    width: 87.2340%;
    *width: 87.2030%;
}

.pure-u-sm-42-47 {
    width: 89.3617%;
    *width: 89.3307%;
}

.pure-u-sm-43-47 {
    width: 91.4894%;
    *width: 91.4584%;
}

.pure-u-sm-44-47 {
    width: 93.6170%;
    *width: 93.5860%;
}

.pure-u-sm-45-47 {
    width: 95.7447%;
    *width: 95.7137%;
}

.pure-u-sm-46-47 {
    width: 97.8723%;
    *width: 97.8413%;
}

.pure-u-sm-1,
.pure-u-sm-1-1,
.pure-u-sm-47-47 {
    width: 100%;
}

.pure-u-md-1,
.pure-u-md-1-1,
.pure-u-md-1-47,
.pure-u-md-2-47,
.pure-u-md-3-47,
.pure-u-md-4-47,
.pure-u-md-5-47,
.pure-u-md-6-47,
.pure-u-md-7-47,
.pure-u-md-8-47,
.pure-u-md-9-47,
.pure-u-md-10-47,
.pure-u-md-11-47,
.pure-u-md-12-47,
.pure-u-md-13-47,
.pure-u-md-14-47,
.pure-u-md-15-47,
.pure-u-md-16-47,
.pure-u-md-17-47,
.pure-u-md-18-47,
.pure-u-md-19-47,
.pure-u-md-20-47,
.pure-u-md-21-47,
.pure-u-md-22-47,
.pure-u-md-23-47,
.pure-u-md-24-47,
.pure-u-md-25-47,
.pure-u-md-26-47,
.pure-u-md-27-47,
.pure-u-md-28-47,
.pure-u-md-29-47,
.pure-u-md-30-47,
.pure-u-md-31-47,
.pure-u-md-32-47,
.pure-u-md-33-47,
.pure-u-md-34-47,
.pure-u-md-35-47,
.pure-u-md-36-47,
.pure-u-md-37-47,
.pure-u-md-38-47,
.pure-u-md-39-47,
.pure-u-md-40-47,
.pure-u-md-41-47,
.pure-u-md-42-47,
.pure-u-md-43-47,
.pure-u-md-44-47,
.pure-u-md-45-47,
.pure-u-md-46-47,
.pure-u-md-47-47 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-md-1-47 {
    width: 2.1277%;
    *width: 2.0967%;
}

.pure-u-md-2-47 {
    width: 4.2553%;
    *width: 4.2243%;
}

.pure-u-md-3-47 {
    width: 6.3830%;
    *width: 6.3520%;
}

.pure-u-md-4-47 {
    width: 8.5106%;
    *width: 8.4796%;
}

.pure-u-md-5-47 {
    width: 10.6383%;
    *width: 10.6073%;
}

.pure-u-md-6-47 {
    width: 12.7660%;
    *width: 12.7350%;
}

.pure-u-md-7-47 {
    width: 14.8936%;
    *width: 14.8626%;
}

.pure-u-md-8-47 {
    width: 17.0213%;
    *width: 16.9903%;
}

.pure-u-md-9-47 {
    width: 19.1489%;
    *width: 19.1179%;
}

.pure-u-md-10-47 {
    width: 21.2766%;
    *width: 21.2456%;
}

.pure-u-md-11-47 {
    width: 23.4043%;
    *width: 23.3733%;
}

.pure-u-md-12-47 {
    width: 25.5319%;
    *width: 25.5009%;
}

.pure-u-md-13-47 {
    width: 27.6596%;
    *width: 27.6286%;
}

.pure-u-md-14-47 {
    width: 29.7872%;
    *width: 29.7562%;
}

.pure-u-md-15-47 {
    width: 31.9149%;
    *width: 31.8839%;
}

.pure-u-md-16-47 {
    width: 34.0426%;
    *width: 34.0116%;
}

.pure-u-md-17-47 {
    width: 36.1702%;
    *width: 36.1392%;
}

.pure-u-md-18-47 {
    width: 38.2979%;
    *width: 38.2669%;
}

.pure-u-md-19-47 {
    width: 40.4255%;
    *width: 40.3945%;
}

.pure-u-md-20-47 {
    width: 42.5532%;
    *width: 42.5222%;
}

.pure-u-md-21-47 {
    width: 44.6809%;
    *width: 44.6499%;
}

.pure-u-md-22-47 {
    width: 46.8085%;
    *width: 46.7775%;
}

.pure-u-md-23-47 {
    width: 48.9362%;
    *width: 48.9052%;
}

.pure-u-md-24-47 {
    width: 51.0638%;
    *width: 51.0328%;
}

.pure-u-md-25-47 {
    width: 53.1915%;
    *width: 53.1605%;
}

.pure-u-md-26-47 {
    width: 55.3191%;
    *width: 55.2881%;
}

.pure-u-md-27-47 {
    width: 57.4468%;
    *width: 57.4158%;
}

.pure-u-md-28-47 {
    width: 59.5745%;
    *width: 59.5435%;
}

.pure-u-md-29-47 {
    width: 61.7021%;
    *width: 61.6711%;
}

.pure-u-md-30-47 {
    width: 63.8298%;
    *width: 63.7988%;
}

.pure-u-md-31-47 {
    width: 65.9574%;
    *width: 65.9264%;
}

.pure-u-md-32-47 {
    width: 68.0851%;
    *width: 68.0541%;
}

.pure-u-md-33-47 {
    width: 70.2128%;
    *width: 70.1818%;
}

.pure-u-md-34-47 {
    width: 72.3404%;
    *width: 72.3094%;
}

.pure-u-md-35-47 {
    width: 74.4681%;
    *width: 74.4371%;
}

.pure-u-md-36-47 {
    width: 76.5957%;
    *width: 76.5647%;
}

.pure-u-md-37-47 {
    width: 78.7234%;
    *width: 78.6924%;
}

.pure-u-md-38-47 {
    width: 80.8511%;
    *width: 80.8201%;
}

.pure-u-md-39-47 {
    width: 82.9787%;
    *width: 82.9477%;
}

.pure-u-md-40-47 {
    width: 85.1064%;
    *width: 85.0754%;
}

.pure-u-md-41-47 {
    width: 87.2340%;
    *width: 87.2030%;
}

.pure-u-md-42-47 {
    width: 89.3617%;
    *width: 89.3307%;
}

.pure-u-md-43-47 {
    width: 91.4894%;
    *width: 91.4584%;
}

.pure-u-md-44-47 {
    width: 93.6170%;
    *width: 93.5860%;
}

.pure-u-md-45-47 {
    width: 95.7447%;
    *width: 95.7137%;
}

.pure-u-md-46-47 {
    width: 97.8723%;
    *width: 97.8413%;
}

.pure-u-md-1,
.pure-u-md-1-1,
.pure-u-md-47-47 {
    width: 100%;
}

.pure-u-lg-1,
.pure-u-lg-1-1,
.pure-u-lg-1-47,
.pure-u-lg-2-47,
.pure-u-lg-3-47,
.pure-u-lg-4-47,
.pure-u-lg-5-47,
.pure-u-lg-6-47,
.pure-u-lg-7-47,
.pure-u-lg-8-47,
.pure-u-lg-9-47,
.pure-u-lg-10-47,
.pure-u-lg-11-47,
.pure-u-lg-12-47,
.pure-u-lg-13-47,
.pure-u-lg-14-47,
.pure-u-lg-15-47,
.pure-u-lg-16-47,
.pure-u-lg-17-47,
.pure-u-lg-18-47,
.pure-u-lg-19-47,
.pure-u-lg-20-47,
.pure-u-lg-21-47,
.pure-u-lg-22-47,
.pure-u-lg-23-47,
.pure-u-lg-24-47,
.pure-u-lg-25-47,
.pure-u-lg-26-47,
.pure-u-lg-27-47,
.pure-u-lg-28-47,
.pure-u-lg-29-47,
.pure-u-lg-30-47,
.pure-u-lg-31-47,
.pure-u-lg-32-47,
.pure-u-lg-33-47,
.pure-u-lg-34-47,
.pure-u-lg-35-47,
.pure-u-lg-36-47,
.pure-u-lg-37-47,
.pure-u-lg-38-47,
.pure-u-lg-39-47,
.pure-u-lg-40-47,
.pure-u-lg-41-47,
.pure-u-lg-42-47,
.pure-u-lg-43-47,
.pure-u-lg-44-47,
.pure-u-lg-45-47,
.pure-u-lg-46-47,
.pure-u-lg-47-47 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-lg-1-47 {
    width: 2.1277%;
    *width: 2.0967%;
}

.pure-u-lg-2-47 {
    width: 4.2553%;
    *width: 4.2243%;
}

.pure-u-lg-3-47 {
    width: 6.3830%;
    *width: 6.3520%;
}

.pure-u-lg-4-47 {
    width: 8.5106%;
    *width: 8.4796%;
}

.pure-u-lg-5-47 {
    width: 10.6383%;
    *width: 10.6073%;
}

.pure-u-lg-6-47 {
    width: 12.7660%;
    *width: 12.7350%;
}

.pure-u-lg-7-47 {
    width: 14.8936%;
    *width: 14.8626%;
}

.pure-u-lg-8-47 {
    width: 17.0213%;
    *width: 16.9903%;
}

.pure-u-lg-9-47 {
    width: 19.1489%;
    *width: 19.1179%;
}

.pure-u-lg-10-47 {
    width: 21.2766%;
    *width: 21.2456%;
}

.pure-u-lg-11-47 {
    width: 23.4043%;
    *width: 23.3733%;
}

.pure-u-lg-12-47 {
    width: 25.5319%;
    *width: 25.5009%;
}

.pure-u-lg-13-47 {
    width: 27.6596%;
    *width: 27.6286%;
}

.pure-u-lg-14-47 {
    width: 29.7872%;
    *width: 29.7562%;
}

.pure-u-lg-15-47 {
    width: 31.9149%;
    *width: 31.8839%;
}

.pure-u-lg-16-47 {
    width: 34.0426%;
    *width: 34.0116%;
}

.pure-u-lg-17-47 {
    width: 36.1702%;
    *width: 36.1392%;
}

.pure-u-lg-18-47 {
    width: 38.2979%;
    *width: 38.2669%;
}

.pure-u-lg-19-47 {
    width: 40.4255%;
    *width: 40.3945%;
}

.pure-u-lg-20-47 {
    width: 42.5532%;
    *width: 42.5222%;
}

.pure-u-lg-21-47 {
    width: 44.6809%;
    *width: 44.6499%;
}

.pure-u-lg-22-47 {
    width: 46.8085%;
    *width: 46.7775%;
}

.pure-u-lg-23-47 {
    width: 48.9362%;
    *width: 48.9052%;
}

.pure-u-lg-24-47 {
    width: 51.0638%;
    *width: 51.0328%;
}

.pure-u-lg-25-47 {
    width: 53.1915%;
    *width: 53.1605%;
}

.pure-u-lg-26-47 {
    width: 55.3191%;
    *width: 55.2881%;
}

.pure-u-lg-27-47 {
    width: 57.4468%;
    *width: 57.4158%;
}

.pure-u-lg-28-47 {
    width: 59.5745%;
    *width: 59.5435%;
}

.pure-u-lg-29-47 {
    width: 61.7021%;
    *width: 61.6711%;
}

.pure-u-lg-30-47 {
    width: 63.8298%;
    *width: 63.7988%;
}

.pure-u-lg-31-47 {
    width: 65.9574%;
    *width: 65.9264%;
}

.pure-u-lg-32-47 {
    width: 68.0851%;
    *width: 68.0541%;
}

.pure-u-lg-33-47 {
    width: 70.2128%;
    *width: 70.1818%;
}

.pure-u-lg-34-47 {
    width: 72.3404%;
    *width: 72.3094%;
}

.pure-u-lg-35-47 {
    width: 74.4681%;
    *width: 74.4371%;
}

.pure-u-lg-36-47 {
    width: 76.5957%;
    *width: 76.5647%;
}

.pure-u-lg-37-47 {
    width: 78.7234%;
    *width: 78.6924%;
}

.pure-u-lg-38-47 {
    width: 80.8511%;
    *width: 80.8201%;
}

.pure-u-lg-39-47 {
    width: 82.9787%;
    *width: 82.9477%;
}

.pure-u-lg-40-47 {
    width: 85.1064%;
    *width: 85.0754%;
}

.pure-u-lg-41-47 {
    width: 87.2340%;
    *width: 87.2030%;
}

.pure-u-lg-42-47 {
    width: 89.3617%;
    *width: 89.3307%;
}

.pure-u-lg-43-47 {
    width: 91.4894%;
    *width: 91.4584%;
}

.pure-u-lg-44-47 {
    width: 93.6170%;
    *width: 93.5860%;
}

.pure-u-lg-45-47 {
    width: 95.7447%;
    *width: 95.7137%;
}

.pure-u-lg-46-47 {
    width: 97.8723%;
    *width: 97.8413%;
}

.pure-u-lg-1,
.pure-u-lg-1-1,
.pure-u-lg-47-47 {
    width: 100%;
}

