.Verdana {
  font-family: Verdana, sans-serif;
}
pre code {
  line-height: 1.6em;
  font-size: 11px;
}
pre {
  padding: 0.1em 0.5em 0.3em 0.7em;
  border-left: 11px solid #ccc;
  margin: 1.7em 0 1.7em 0.3em;
  overflow: auto;
  width: 93%;
  font-family: "Courier New", Courier, monospace, sans-serif;
  text-align: left;
  color: #555;
  letter-spacing: normal!important;
  font-size: 2rem;
}
/* target IE7 and IE6 */
/**:first-child+html pre {
  padding-bottom: 2em;
  overflow-y: hidden;
  overflow: visible;
  overflow-x: auto;
}*/
* html pre {
  padding-bottom: 2em;
  overflow: visible;
  overflow-x: auto;
}
body {
  font-size: 62.5%;
  background: #f2f2f2 none no-repeat 0 0;
  font-family: Verdana, Geneva, sans-serif;
  min-width: 1280px;
  padding: 10px 10px 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  max-height: 950px;
  color: #000;
  max-width: 1920px;
  margin: 0 auto;
}
html,
body,
#container {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}
#container {
  position: relative;
}
#container header {
  height: 18px;
}
#container header > div {
  float: right;
  margin-left: 21px;
}
#container header .top-icons {
  background: transparent no-repeat 0 0;
  background-image: url('../image/sprites.png');
  width: 20px;
  height: 18px;
  display: block;
}
#container header .top-icons.language {
  background: transparent no-repeat center center;
  background-image: url('../image/lang-border.png');
  width: 20px;
  height: 18px;
  line-height: 20px;
  font-size: 0.5rem;
  font-weight: bold;
  color: #361703;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
#container header .top-icons.message {
  background-position: -26px 0;
}
#container header .top-icons.login {
  background-position: -50px 0;
}
#container header #language {
  width: 20px;
  height: 18px;
  position: relative;
}
#container header #language form.language {
  position: absolute;
  overflow: visible;
  top: 0;
  bottom: 0;
}
#container header #cart .content {
  display: none;
}
#container #content.home {
  height: 76.667%;
}
#container #content.home .table {
  height: 100%;
}
#container #content.home .left-column .top-banners div {
  height: 100%;
}
#container #content.home .left-column .top-banners .l-box {
  max-height: 113px;
}
#container #content.home .left-column .banner {
  margin-left: 2.1277%;
}
#container #content.home .left-column .banner:first-child {
  margin: 0;
}
#container #content.home .left-column .banner .l-box {
  padding: 5px;
  -webkit-box-shadow: 0 0 4px #bbb6b3;
  -moz-box-shadow: 0 0 4px #bbb6b3;
  box-shadow: 0 0 4px #bbb6b3;
  background: #ffffff none no-repeat 0 0;
}
#container #content.home .left-column .center {
  overflow: hidden;
  position: relative;
  margin-top: 2.1277%;
  max-height: 554px;
}
#container #content.home .left-column .center > div:first-child {
  float: left;
}
#container #content.home .left-column .center > div:last-child {
  display: block!important;
  position: absolute;
  bottom: 0;
  right: 0;
}
#container #content.home .right-column {
  height: 100%;
  overflow: auto;
  max-height: 677px;
}
#container #content.home .right-column #article {
  margin: 2.1277% 0 0 6.3831%;
  overflow: auto;
}
#container #content.home .right-column #article h1 {
  font-family: 'Alegreya SC', serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #361703;
  line-height: 80%;
}
#container #content.home .right-column .text {
  max-width: 440px;
  font-family: Verdana, sans-serif;
  font-size: 0.7rem;
}
#container footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f2f2f2 none no-repeat 0 0;
  z-index: 50;
}
#container footer #logo {
  margin-left: 12px;
}
#container footer #logo a {
  display: block;
  max-width: 80px;
}
#container footer #logo img {
  max-width: 100%;
  height: auto!important;
  display: block;
}
#container footer #menu {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 110px;
  right: 0;
  height: 40px;
}
#container footer #menu > ul > li {
  display: inline-block;
  padding: 0 1%;
  position: relative;
}
#container footer #menu > ul > li > div {
  position: absolute;
  bottom: 30px;
  background: #361703 none no-repeat 0 0;
  min-width: 200px;
}
#container footer #menu > ul > li > div > ul li {
  border-top: 1px solid #8c542f;
  width: 100%;
}
#container footer #menu > ul > li > div > ul li:first-child {
  border: none;
}
#container footer #menu > ul > li > div > ul li a {
  font-family: Verdana, sans-serif;
  font-size: 0.8rem;
  color: #ffffff;
}
#container footer #menu > ul > li.v-sep {
  padding: 0;
  background: #361703 none no-repeat 0 0;
  height: 31px;
  width: 2px;
  position: relative;
  top: 4px;
}
#container footer #menu > ul > li#magic-line {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  background: #361703;
  padding: 0;
}
#container footer #menu > ul > li a {
  font-family: 'Alegreya', sans-serif;
  font-size: 1.46rem;
  font-weight: bold;
  color: #361703;
  text-decoration: none;
}
#container .help-user-nav {
  position: absolute;
  margin: auto;
  bottom: 5%;
  left: 110px;
  right: 0;
}
#container .help-user-nav li {
  display: inline-block;
  padding: 0 1%;
}
#container .help-user-nav li a {
  font-family: Verdana, sans-serif;
  font-size: 0.70rem;
  color: #361703;
  text-decoration: none;
}
#container .help-user-nav li a:hover {
  color: #668796;
  border-bottom: 1px solid #668796;
  padding-bottom: 3px;
}
#container #social-networks {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 31px;
}
#container #social-networks p {
  margin: 0;
}
#container #social-networks a {
  display: block;
  overflow: hidden;
  background: transparent none no-repeat 0 0;
  border: none;
  float: left;
  margin: 0 7px;
}
#container #social-networks #Facebook {
  width: 19px;
  height: 19px;
}
#container #social-networks #Facebook:before {
  margin: -36px 0 0;
}
#container #social-networks #Instagram {
  width: 20px;
  height: 20px;
}
#container #social-networks #Instagram:before {
  margin: -36px -25px 0;
}
#container #social-networks #Pinterest {
  width: 14px;
  height: 18px;
}
#container #social-networks #Pinterest:before {
  margin: -36px -53px 0;
}
#container #social-networks #Vkontakte {
  width: 27px;
  height: 19px;
}
#container #social-networks #Vkontakte:before {
  margin: -36px -69px 0;
}
#container #social-networks a:before {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  content: url('../image/sprites.png');
}
#container #search {
  position: absolute;
  right: 0;
  bottom: 0;
}
#container #search input[name=search] {
  text-align: right;
  font-family: Verdana, sans-serif;
  font-size: 0.7rem;
  color: #361703;
  border: 1px solid #ccb8ab;
  text-transform: lowercase;
  padding: 3px 12px 3px 40px;
}
#container #search .button-search {
  width: 14px;
  height: 13px;
  position: absolute;
  background: transparent no-repeat 0 -19px;
  background-image: url('../image/sprites.png');
  top: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
}
