// MIXIN AND VARS
@em:2.1277%;
@pad:15px;
@bg-color:#f2f2f2;
@brown:#361703;
.bg(@color:transparent, @url:none, @repeat:no-repeat,@x:0,@y:0) when (isstring(@url)){
  background: @color  @repeat @x @y;
  background-image: url(@url);
}

.bg(@color:transparent, @url:none, @repeat:no-repeat,@x:0,@y:0) when (iskeyword(@url)){
  background: @color @url @repeat @x @y;
}
.Verdana{
  font-family: Verdana,sans-serif;
}





@font-face {
  font-family: 'Conv_charteritcblack';
  src: url('../fonts/charteritcblack.eot');
  src: local('☺'), url('../fonts/charteritcblack.woff') format('woff'), url('../fonts/charteritcblack.ttf') format('truetype'), url('../fonts/charteritcblack.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.BeautyFont{
  font-family: Alegreya, 'Conv_charteritcblack', Verdana,sans-serif;
}

@path-to-img: '../image/';
@sprites:'../image/sprites.png';


ul{
  list-style: outside none;
}

pre code {
  line-height: 1.6em;
  font-size: 11px;
}
pre {
  padding: 0.1em 0.5em 0.3em 0.7em;
  border-left: 11px solid #ccc;
  margin: 1.7em 0 1.7em 0.3em;
  overflow: auto;
  width: 93%;
  font-family: "Courier New", Courier, monospace, sans-serif;
  text-align: left;
  color: #555;
  letter-spacing:normal!important;
  font-size: 2rem;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* target IE7 and IE6 */
/**:first-child+html pre {
  padding-bottom: 2em;
  overflow-y: hidden;
  overflow: visible;
  overflow-x: auto;
}*/
* html pre {
  padding-bottom: 2em;
  overflow: visible;
  overflow-x: auto;
}
html{
  width: 100%;
}

body{
  font-size: 62.5%;
  .bg(@color: @bg-color;);
  font-family: Verdana, Geneva, sans-serif;
  min-width: 1280px;
  padding:10px 10px 0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  color: #000;
  // max-width:1920px;
  margin:0 auto;
  position: relative;
  overflow-x:hidden;
}

html,body,#container{
  height: 100%;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

ul,li{
  margin: 0;
  padding: 0;
}

.breadcrumb{
  position: absolute;
  top:0;
  *{
    .Verdana;
    font-size: 0.7rem;
    color: #000;
    &:hover{
      text-decoration: none;
    }
  }
  .last-bread{
    text-decoration: none;
    color: @brown;
  }
}

#container{
  position: relative;
  margin-bottom:-110px;

  header{
    margin-bottom:1%;
    height: 18px;

    > div{
      float: right;
      margin-left: 14px;
    }
    @file:'sprites.png';

    .top-icons{
      .bg(@url:@sprites);
      width: @pad+5;
      height: @pad+3;
      display: block;
      &.language, &.currency {
        .bg(@url:'@{path-to-img}lang-border.png',@x: center,@y:center);
        width: 20px;
        height: 18px;
        line-height: 20px;
        font-size: 0.5rem;
        font-weight: bold;
        color:#000;
        text-align:center;
        text-transform: uppercase;
        text-decoration: none;
        display: none;
        &:first-child {
          display: block;
        }
        cursor: pointer;
      }
      &.currency {
        .bg(@url: none);
        font-size: 1rem;
        text-transform: uppercase;
      }

      &.message{
        background-position: -26px 0;
      }
      &.login{
        background-position: -50px 0;
      }

    }

    #language, #currency {
      width: 20px;
      height: 18px;
      position: relative;
      &:hover {
        a {
          display: block;
        }
      }
      z-index: 1;

      form.language, form.currency {
        position: absolute;
        overflow: visible;
        top:0;
        bottom:0;

        >a{
          // position: absolute;
        }
      }
    }

    #hello-users {
      position: relative;
      &:hover {
        #simple_login {
          display: block;
        }
      }
      #simple_login {
        display: none;
        .bg(@color: #f2f2f2);
        border: 1px solid @brown;
        padding: 13px;
        min-width: 174px;
        position: absolute;
        z-index: 1;
        right: 0;
        margin-top: -1px;

        table {
          width: 100%;
        }
        .simplecheckout-login-left {
          color: @brown;
          padding-bottom: 5px;
        }
        .simplecheckout-login-right {
          width: 100%;
          padding-bottom: 10px;
          input {
            border: 1px solid #c6ad9d;
            .bg(@color: #fff);
            display: block;
            height: 21px;
            width: 99%;
            padding: 0 5px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            &:focus {
              box-shadow: 0px 0px 2px #214e62;
            }
          }
          &.fgt-pass {
            vertical-align: bottom;
            padding-bottom: 0;
            a {
              color: #000;
              &:hover {
                text-decoration: none;
              }
            }
          }
          &.buttons {
            padding-bottom: 0;
            #simplecheckout_button_login {
              padding: 3px 10px;
              color: #fff;
              .bg(@color: #214e62);
              cursor: pointer;
              span {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    #cart{

      &:hover{
        .content{
          display: block;
        }
      }


      .content{
        display: none;
        position: absolute;
        right: 0;
        border: 1px solid @brown;
        .bg(@color: #fff);
        z-index: 50;
        max-width: 210px;
        margin-top: -1px;

        .mini-cart-info{
          .image{
            text-align: center;
            vertical-align: bottom;
          }

          tr {
            border-bottom: 1px solid #8c542f;
          }
          .name{
            padding-right: 10px;

            a{
              font-size: 0.7rem;
              color: #214e62;
              &:hover{
                text-decoration: none;
              }
            }
            .low-block {
              color: @brown;
              margin-top: 2.5%;
              .quantity, .total {
                display: inline-block;
                font-size: 0.7rem;
              }
              .quantity {
                margin-right: 23%;
              }
              .total {

              }
            }

          }
        }
        .mini-cart-total {
          padding: 10px 0;
          text-align: center;
          font-size: 0.8rem;
        }
        .checkout {
          text-align: center;
          margin-bottom: 10px;
          a {
            display: inline-block;
            padding: 10px 15px;
            .bg(@color: #214e62);
            color: #ffffff;
            font-size: 0.8rem;
            text-decoration: none;
          }
        }
      }
    }
  }


  #content{
    position: relative;
    /*    &.home{
          position: relative;
        }*/

    &.article,&.category{
      width: 60%;
      margin: 0 auto;
     // position: absolute;
     // left: 0;
    //  right: 0;
   //   top: 5%;
     // bottom: 0;
      margin-bottom:110px;

      h1{
        .BeautyFont;
        font-size: 1.5rem;
        color: @brown;
        border-bottom:2px solid #000;
        margin-bottom:1.6%;
      }

      p{
        font-size: 0.7rem;
        .Verdana;
      }

      h2{
        font-size: 0.9rem;
        color: #000;
      }

      img{
        margin: 0 20px 20px 0;
        max-width: 70%!important;
        height: auto!important;
        display: block;
      }

      .tags{
        height: 42px;
        margin: 1.25% 0 1.25% 0;

        &:after{
          content: "";
          clear: both;
          visibility: hidden;
          height: 0;
          display: block;
        }
        .tag{
          float: left;

          img{
            margin: 0 3px;
            max-width: 100%!important;
          }
        }
      }
    }

      &.category{
        .category-content{
          overflow: auto;
          height: 80%;
        }

        .category-info{
          margin:0 1.5% 2.5%;
          border-bottom:1px dashed @brown;

            p{
            // margin:0;
            }
        }

        .article-info{
          margin: 2.5% 1.5% 0;
          border-bottom:1px dashed #000;

          &:first-child{
            margin-top:0;
            border-bottom:none;
          }

          &.last{
            border-bottom: none;
          }

          .article-image{
            float: left;
            width: 26.4%;
            margin: 0 20px 20px 0;

            img{
              max-width:100%!important;
              margin: 0;
              border:1px solid #000;
            }
          }



          h2{
            a{
              color: #000;
              .BeautyFont;
              font-size: 1.275rem;
            &:hover{
              text-decoration: none;
            }
            }
          }

          .intro{
            p{
              margin:0;
              line-height: 1.1;
            }
          }

        }
      }

      .pagination{
        display: none;
      }

      &.article{
        .article-info{
          overflow: auto;
          height: 83%;

          .main-image{
            float:left;
            max-width: 543px;
            margin: 0 20px 20px 0;

            img{
              border:1px solid #000;
              max-width: 100%!important;
              margin: 0;
            }
          }
        }
    }

    &.category-products{
      position: relative;
      // top: 5%;
      margin-bottom:110px;
      padding-left:20px;

      .right-column{
        width:29.467%;

        .category-info {
          font-size: 0.7rem;
        }

      }

      h1{
        .BeautyFont;
        font-size: 1.5rem;
        color: @brown;
        border-bottom:2px solid #000;
        margin-bottom:1.6%;
      }

      .category-list{
        position: absolute;
        top:0;
        right: 0;
        left: 0;


        ul{
          li{
            display: block;
            float: right;
            margin: 0 1%;
            height: 2rem;
            a{
              font-size: 0.85rem;
              color: #000;
              vertical-align: -15px;
              text-decoration: none;
            }
          }
        }
      }

      .product-list{
        height: 80%;
        overflow: auto;
        vertical-align: top;
        .product{
          display:inline-block;
          width:19.5395%;
          &:first-child{
          }
          margin-bottom:2%;

          &:hover{
            .image{
              border: 1px solid #361703;
              -moz-box-shadow: 0px 0px 4px #000;
              box-shadow: 0px 0px 4px #000;
              img{
                border:none;
              }
            }
          }



          .image{
            position: relative;
            img{
              max-width:100%;
              display: block;
              height: auto!important;
              border:1px solid #cdb5a4;
            }

            .buy{
              position: absolute;
              top:4.5%;
              left:3%;
              width: 20px;
              height: 18px;
              border:none;
              .bg(@url: @sprites,@x:-77px,@y:0,@color:#fff);

              &:hover{
                .bg(@url: @sprites,@x:-77px,@y:-19px,@color:#fff);
              }
            }
          }
          .name{
            margin-top: 5.25%;
            a{
              font-size: 0.8rem;
              color: #000;
              padding: 0 21px;
              display: block;
              text-decoration: none;
              font-weight: 500;
              text-shadow: -1px -1px 0px #aaaaaa;
            }
          }

          .price{
            padding: 0 21px;
            margin-top: 3%;
            font-size: 0.8rem;
            font-weight: 500;
            text-shadow: -1px -1px 0px #aaaaaa;
            .currency{
              margin-left: 1px;
            }
          }
        }
      }

      .category-info{
        h2{
          color: @brown;
        }
      }
    }

    &.product-page {
      .image {
        width: 87%;
        height: inherit;
        position: relative;
        img {
          max-width: 100%;
          height: auto;
          display: block;
          border: 1px solid #ccb2a1;
          padding: 10px;
          .bg(@color: white);
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;

        }
      }
      .product-info {
        height: 99%;
        overflow: auto;
        h1 {
          .BeautyFont;
          color: @brown;
        }

        .price {
          color: #000;
          font-size: 1.2rem;
        }

        .weight {
          font-size: 0.8rem;
          font-weight: bold;
        }
        .description {
          a#read-more {
            color: @brown;
            text-decoration: none;
            font-size: 0.8rem;
          }
          .read-more {
            display: none;
          }
        }

        .ac-module_set {
          margin-top: 10px;
          position: relative;

          .prev, .next {
            .bg(@url: @sprites);
            height: 24px;
            width: 10px;
            z-index: 10;
            border: none;
          }
          .prev {
            background-position: -106px 0;
            position: absolute;
            left: 0px;
            top: 0;
            bottom: 0;
            margin: auto;
          }
          .next {
            position: absolute;
            right: 0px;
            top: 0;
            bottom: 0;
            margin: auto;
            background-position: -106px -24px;
          }

          .ac_column {

          }

          .carousel {

            a {
              text-decoration: none;

              img {
                max-width: 100%;
                margin: 10px !important;
              }

              .name {
                display: block;
                margin-left: 10px;
                color: #000;
                text-shadow: -1px -1px 0 #aaaaaa;

              }
            }

          }
        }

        .cart {
          float: right;
          width: 30%;
          #button-cart {
            .bg(@color: @brown);
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px;
            text-transform: uppercase;
            text-align: center;
            color: #fff;
            display: block;
            width: 97%;
            height: 28px;
          }
        }
        .options {
          margin-top: 26px;
        }
        .option {
          width: 40%;

          input, textarea {
            width: 100%;
            display: block;
            height: 28px;
            border: 1px solid #d1b8a8;
            padding: 0 5px;
            &:focus {
              box-shadow: 0 0 2px #214e62;
            }
          }
          textarea {
            height: auto;
            padding: 5px;
          }
          .name {
            margin-bottom: 13px;
            display: block;
          }
          &.pick-date {
          }
          &.checkbox {
            margin-top: 14px;
            input {
              & + label {
                cursor: pointer;
                padding-left: 27px;
                .bg(@url: '@{path-to-img}checkbox.png');
                display: block;
                height: 18px;
                line-height: 23px;
              }
              &:checked + label {
                background-position: 0 -18px;
              }
            }
            input {
              display: none;
            }

          }
          &.text {
            display: none;
          }
          &.radio {
            display: none;
            width: 100%;
            .theme {
              float: left;

              input {
                display: none;
                & + label {
                  cursor: pointer;
                  width: 19px;
                  height: 19px;
                  .bg(@url: '@{path-to-img}radio.png');
                }
                &:checked + label {
                  background-position: 0 -19px;
                }
              }
              img, label {
                display: inline-block;
                vertical-align: top;
              }

              a {
                text-decoration: none;
              }
              .name {
                margin: 5px 0 0 23px;
                font-size: 0.8rem;
                color: #000;
                text-decoration: none;
                text-shadow: -1px -1px 0 #d2d2d2;
              }
            }

            &:after {
              display: table;
              clear: both;
              visibility: hidden;
            }
          }
        }
      }
    }

    .left-column{
      width: 69.5329%;
      height: 100%;
      position: relative;



      .top-banners{
   //     overflow: auto;

        .banner{
          width: 24.3313%;
          margin-left:0.77%;

          .l-box {
            //        padding:0;
            height: 100%;

            a {
              display: block;
              height: 100%;
            }
          }

          .title{
            position: absolute;
            right:10%;
            bottom: 10%;
            .BeautyFont;
            color: #f2f2f2;
            font-size: 0.9rem;
           // font-size:3vmin;
            font-weight: bold;
            text-shadow: -1px -1px 0px #000,0px 1px 1px#000;
          }

        }
        #banner2{
          margin-left:10px;
        }

      &:after{
        content:"";
        clear:both;
        display: table;

      }

        div{
          height: 100%;
        }

      }
      // letter-spacing: -0.31em;
      .banner{
      //  margin-left: @em;
        display: block;
        float: left;

        &:first-child{
          margin: 0;
        }
          .l-box{
          padding: 5px;
          -webkit-box-shadow: 0 0 4px #bbb6b3;
          -moz-box-shadow: 0 0 4px #bbb6b3;
          box-shadow: 0 0 4px #bbb6b3;
          .bg(@color: #fff);
          position: relative;


        }

        img{
        }
      }

      .center{
        overflow: hidden;
        position: relative;
        margin-top: 0.5%;
  //      height: inherit;


        .banner{

          .l-box{
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            height: 100%;
          }

          a{
            display: block;
            height: 100%;
            overflow: hidden;
            position: relative;
          }
        }

        #banner4{
          width: 49.35%;

        }
      #banner5,#banner6{
         width: 49.4%;
      }

         >div:first-child{
           margin-right: 10px;
           float: left;
         }
          #banner5{
            position: absolute;
            top: 0;
            left: 49.4%;
            margin-left: 10px;
          }
          #banner6{
            position: absolute;
            bottom:0;
            left: 49.4%;
            margin-left: 10px;
          }

      }
    }

    .right-column{
      height: 100%;
      width: 30.4671%;
      #column-right{
        margin-left: 10px;
        height: 99%;
      }
      position: absolute;
      right: 0;
      top: 0;

      #article{
        margin:@em 0 0 0;
        overflow:auto;
        height: inherit;

        h1{
          .BeautyFont;
          font-size: 1.5rem;
          font-weight: 600;
          color: @brown;
          line-height:80%;
        }
      }
      .text{
   //     max-width:440px;
        .Verdana;
        font-size: 1rem*0.7;
        height: inherit;
//        color:@brown;
      }
    }
  }
}

footer{
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  .bg(@color:#f2f2f2;);
  z-index: 50;
  height: 110px;


  #logo{
    margin-left: 12px;
    margin-bottom: 5px;
    width: 80px;

    a{
      display: block;
      max-width: 80px;
    }

    img{
      max-width: 100%;
      height: auto!important;
      display: block;
    }
  }

  #menu{
    position: absolute;
    margin:auto;
    top:0;
    bottom: 0;
    left:110px;
    height: 40px;
    width: 960px;

    >ul{
      position: relative;
      // overflow: hidden;
/*      &:after{
        clear: both;
        content: "";
        display: block;
        visibility: hidden;
        height: 0;
      }*/
    }

    >  ul > li{
      padding: 0 1%;
      position: relative;
      display: inline-block;

      &:hover > div{
        display: block;
      }

      > div{
        position: absolute;
        width:100%;
        left:0;
        display: none;
        padding-bottom: 42px;
        bottom: 0;

        > ul{
          .bg(@color: @brown);

          li{
            border-top:1px solid #8c542f;
            padding: 4% 4%;
            text-align: right;
            position: relative;
            &:first-child{
              border:none;
            }

            a{
              .Verdana;
              font-size: 0.7rem;
              color: #ffffff;
              font-weight: normal;
              &:hover{
                color: #668796;
              }
            }

            > ul{
              position: absolute;
              left: 100%;
              right: 0;
             // top:0;
              bottom: 0;
              margin:auto;
              display: none;
              .bg(@color:@brown);
              width: 100%;

              > li{
                border-left:1px solid #8c542f!important;

                >a{
                  display: block;
                  &:hover{
                    color: #668796;
                  }
                }
              }
            }

            &:hover > ul{
              display: block;
            }
          }
        }
        &:after{
          content: "";
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid @brown;
          position:absolute;
          left: 25%;
          right: 0;
         // margin:0 auto;
          //  border-style: inset
        }
      }
      &.v-sep{
        padding:0;
        .bg(@color: #361703);
        height: 31px;
        width: 2px;
        position: relative;
        top:4px;
      }
      &#magic-line {
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 3px;
        background: @brown;
        display: inline-block;
      }

      a{
        .BeautyFont;
        font-size: 1.46rem;
        font-weight: bold;
        color: #361703;
        text-decoration: none;
      }
    }
  }

  .help-user-nav{
    position: absolute;
   //  margin: auto;
    bottom: 10%;
    left:110px;
    right:0;
    width: 960px;

    li{
      display: inline-block;
      padding: 0 1%;

      a{
        .Verdana;
        font-size:0.70rem;
        color: @brown;
        text-decoration: none;
        &:hover{
          color: #668796;
          border-bottom: 1px solid #668796;
          padding-bottom: 3px;
        }
      }
    }
  }

  #social-networks{

    position: absolute;
    right: 10px;
    top:0;
    bottom: 0;
    margin: auto;
    height: 31px;

    a{
      display: block;
      overflow: hidden;
      .bg(@url: none);
      border: none;
      float: left;
      margin: 0 7px;
    }
  }

  #search{
    position: absolute;
    right: 10px;
    bottom: 12%;

    input[name=search]{
      text-align: right;
      .Verdana;
      font-size: 0.7rem;
      color: @brown;
      border:1px solid #ccb8ab;
      text-transform: lowercase;
      padding: 3px @pad*0.8 3px @pad+25 ;
    }

    .button-search{
      width: 14px;
      height: 13px;
      position: absolute;
      .bg(@url: @sprites,@x: 0,@y:-19px);
      top:0;
      bottom: 0;
      left:10px;
      margin: auto;

    }
  }
}

@media screen
and (min-height: 1080px) {
  #container #content.home{
  //  height: 75%;
  }
}












